.markdown-content
  pre
    background-color: white
    font-family: consolas, courier, monospace
  blockquote
    border-left: 0px
    p
      padding: 10px
      background-color: #FAEBD7
      font-family: garamond, serif
      font-size: 18px
